	/*
  	Flaticon icon font: Flaticon
  	Creation date: 09/04/2019 10:10
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff2") format("woff2"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;

font-family: "Flaticon2";
src: url("../fonts/Flaticon2.eot");
src: url("../fonts/Flaticon2.eot?#iefix") format("embedded-opentype"),
     url("../fonts/Flaticon2.woff2") format("woff2"),
     url("../fonts/Flaticon2.woff") format("woff"),
     url("../fonts/Flaticon2.ttf") format("truetype"),
     url("../fonts/Flaticon2.svg#Flaticon") format("svg");
font-weight: normal;
font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 30px;
       font-style: normal;
       color: #fff;
}

.flaticon-growth:before { content: "\f100"; }
.flaticon-wallet:before { content: "\f101"; }