/*Brand area css
==========================================*/

.brand-area {
	margin-top: -112.5px;
	@media (max-width: 1440px) {
		margin-top: 0;
	}
}

.single-brand-item {
	background: #fff;
	width: 100%;
	height: 200px;
	text-align: center;
	margin: 0 auto;
	@include transition();
	border: 1px solid #eeeeee;
	cursor: pointer;
	&.df-height {
		position: absolute;
		top: 25px;
		height: 150px;
	}
	.d-table-cell {
		vertical-align: middle;
	}
	img {
		width: auto !important;
		margin: auto;
		@include filter(grayscale(100%));
		cursor: pointer;
		@include transition();
	}
	&:hover {
		background: $white;
		border: 1px solid transparent;
		box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
		img {
			@include filter(grayscale(0%));
		}
	}
}

/*Service area css
==========================================*/
.service-area {
}
.single-service {
	@media (max-width: 991px) {
		margin-bottom: 30px;
	}
	.service-icon {
		position: relative;
		margin-bottom: 40px;
		.s-icon {
			position: absolute;
			left: 0;
			@include transition();
		}
		.clr-icon {
			position: absolute;
			left: -25px;
			top: -4px;
			opacity: 0;
			visibility: hidden;
			@include transition();
		}
	}
	.service-content {
		h4 {
			font-size: 18px;
			margin-bottom: 20px;
		}
		p {
			margin-bottom: 0;
		}
	}
	&:hover {
		.service-icon {
			.s-icon {
				opacity: 0;
				visibility: hidden;
			}
			.clr-icon {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}

/* Start video Area css
============================================================================================ */

.video-sec-area {
	position: relative;
	margin: 80px 0;
	@media (max-width: 1200px) {
		margin: 0;
	}
	@media (max-width: 991px) {
		margin-top: -30px;
	}
	.video-shape {
		position: absolute;
		left: 0;
		z-index: -1;
		top: 50%;
		transform: translateY(-50%);
		@media (max-width: 1200px) {
			display: none;
		}
	}
}
.video-right {
	h1 {
		padding-bottom: 20px;
		font-size: 48px;
		@media (max-width: 1024px) {
			font-size: 36px;
		}
		@media (max-width: 991px) {
			margin-top: 20px;
		}
	}
	p {
		span {
			color: #000;
			font-weight: 400;
		}
	}
	@media (max-width: 960px) {
		margin-top: 50px;
	}
}
.video-left {
	//background: url(../img/video-bg.jpg) no-repeat center;
	//background-size: cover;
	height: 350px;
	border-radius: 10px;
	.play-btn {
		z-index: 2;
	}
}
// counter area //
.counter_area {
	background: #f4f8ff;
	padding: 20px;
	margin-top: 40px;
	.single_counter {
		background: #fff;
		text-align: center;
		padding: 20px;
		width: 195px;
		display: inline-block;
		margin-right: 10px;
		margin-bottom: 10px;
		border-radius: 5px;
		@include transition();
		@media (max-width: 1024px) {
			width: 158px;
		}
		@media (max-width: 991px) {
			width: 318px;
		}
		@media (max-width: 767px) {
			width: 228px;
		}
		@media (max-width: 570px) {
			width: 198px;
		}
		@media (max-width: 480px) {
			width: 100%;
		}
		&:nth-child(2),
		&:nth-child(4) {
			margin-right: 0;
		}
		&:nth-child(3),
		&:nth-child(4) {
			margin-bottom: 0;
		}
		@media (max-width: 480px) {
			&:nth-child(3) {
				margin-bottom: 10px;
			}
		}
		.info-content {
			h4 {
				font-size: 24px;
				font-weight: 700;
				font-family: $title-font;
				margin-bottom: 0;
			}
		}
		&:hover {
			@extend .gradient-bg;
			.info-content {
				h4 {
					color: #fff;
				}
				p {
					color: #fff;
				}
			}
		}
	}
}

// for about page //

#about {
	.video-sec-area {
		padding: 0;
		margin: 200px 0;
		@media (max-width: 1200px) {
			margin: 0;
			padding: 120px 0;
		}
		@media (max-width: 1200px) {
			margin: 0;
			padding: 80px 0;
		}
	}
}

/* Start portfolio Area css
============================================================================================ */
.portfolio-area {
	margin: 30px 0;
	.portfolio-main {
		padding-left: 14%;
		@media (max-width: 767px) {
			margin-bottom: 50px;
			padding-left: 0px;
		}
		h1 {
			font-size: 48px;
			margin-bottom: 20px;
			@media (max-width: 767px) {
				font-size: 30px;
			}
		}
		.primary-btn {
			margin-top: 30px;
		}
	}
}

.active-gallery-carousel {
	text-align: center;
	.owl-nav {
		position: absolute;
		right: 35%;
		bottom: -60px;
		@media (max-width: 1024px) {
			right: 35%;
			bottom: -60px;
		}
		@media (max-width: 991px) {
			right: 35%;
			bottom: -60;
		}
		@media (max-width: 767px) {
			right: 35%;
			bottom: -60;
		}
		.owl-prev,
		.owl-next {
			display: inline-block;
			margin: 20px;
			@include transition();
			opacity: 1;
			&:hover {
				opacity: .5;
			}
		}
	}
}
.single-gallery {
	position: relative;
	display: inline-block;
	img {
		width: 100%;
	}
	&:after {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		content: "";
		background: #000;
		opacity: 0;
		visibility: hidden;
		@include transition();
	}
	.gallery-content {
		position: absolute;
		padding: 30px;
		left: -10%;
		bottom: -20%;
		z-index: 999;
		opacity: 0;
		visibility: hidden;
		@include transition();
		p {
			text-transform: uppercase;
			color: $primary-color;
			font-weight: 400;
		}
		h4 {
			font-size: 24px;
			color: #fff;
			line-height: 35px !important;
		}
	}
	.light-box {
		position: absolute;
		top: 30px;
		right: -10px;
		background: #fff;
		z-index: 999;
		height: 50px;
		width: 50px;
		line-height: 50px;
		text-align: center;
		font-size: 20px;
		opacity: 0;
		visibility: hidden;
		@include transition();
	}
	&:hover {
		&:after {
			opacity: .65;
			visibility: visible;
		}
		.gallery-content {
			opacity: 1;
			visibility: visible;
			bottom: 20px;
			left: 0;
		}
		.light-box {
			right: 30px;
			top: 30px;
			opacity: 1;
			visibility: visible;
		}
	}
}

#project-details {
	.single-details {
		p {
			padding-right: 0;
			font-weight: 400;
		}
		h4 {
			font-size: 24px;
			margin-bottom: 30px;
		}
		.list {
			margin-top: 50px;
			li {
				margin-bottom: 7px;
				span {
					font-size: 14px;
					color: #000;
					font-weight: 400;
					width: 97px;
					display: inline-block;
				}
				font-weight: normal;
				font-size: 14px;
				&:last-child {
					margin-bottom: 0px;
				}
				i {
					color: #f1cd09;
				}
			}
		}
		.social_details {
			margin-top: 40px;
			@media (max-width: 480px) {
				margin-top: 20px;
			}
			li {
				display: inline-block;
				margin-right: 14px;
				a {
					font-size: 14px;
					@include transition();
					i {
						color: #000 !important;
						@include transition();
						&:hover {
							color: $primary-color !important;
						}
					}
				}
				&:last-child {
					margin-right: 0px;
				}
			}
		}
	}
}
/* Start Team Area css
============================================================================================ */
.team-area {
}

.active-team-carusel {
	.owl-nav {
		position: absolute;
		right: 270px;
		bottom: 50px;
		@media (max-width: 1024px) {
			right: 200px;
			bottom: 20px;
		}
		@media (max-width: 991px) {
			right: -30px;
			bottom: 0;
		}
		@media (max-width: 767px) {
			right: 0;
			bottom: 0;
		}
		@media (max-width: 420px) {
			display: none;
		}
		.owl-prev,
		.owl-next {
			display: inline-block;
			margin: 20px;
			@include transition();
			opacity: 1;
			&:hover {
				opacity: .5;
			}
		}
	}
}

.single-item {
	.team-left {
		position: relative;
		@media (max-width: 767px) {
			display: none;
		}
		.member-desc {
			padding: 20px;
			background: #fff;
			margin: 0 0px;
			position: absolute;
			left: 50%;
			bottom: 40px;
			transform: translateX(-50%);
			width: 70%;
			@media (max-width: 991px) {
				width: 90%;
				bottom: 0;
			}
			.m-title {
				h4 {
					font-size: 18px;
				}
				p {
					margin-bottom: 0;
				}
			}
			.m-social {
				a {
					height: 30px;
					width: 30px;
					display: inline-block;
					background: #e0e2ec;
					text-align: center;
					line-height: 30px;
					margin: 5px;
					i.fa {
						color: #fff;
					}
					&:hover {
						@extend .gradient-bg;
					}
				}
			}
		}
	}
	.team-right {
		h1 {
			margin-bottom: 30px;
		}
		.primary-btn {
			margin-top: 30px;
		}
	}
}

/* Start Testimonial Area css
============================================================================================ */
.testimonial-area {
}

.active-testi-carousel {
	.owl-nav {
		margin-top: 40px;
		@media (max-width: 420px) {
			display: none;
		}
		.owl-prev,
		.owl-next {
			display: inline-block;
			margin: 20px;
			@include transition();
			opacity: 1;
			&:hover {
				opacity: .5;
			}
		}
	}
}

.single-testi-item {
	.author-title {
		margin-bottom: 30px;
		margin-top: 20px;
		.thumb {
			display: inline-block;
			img {
				margin-top: -25px;
			}
		}
		.a-desc {
			display: inline-block;
			padding-left: 15px;
			text-align: left;
			h6 {
				margin-bottom: 5px;
				color: $title-color;
			}
		}
	}
	.author-desc {
		p {
			padding: 0 18%;
			margin-bottom: 0;
		}
	}
}

/* Start CTA Area css
============================================================================================ */
.cta-area {
	position: relative;
	@extend .gradient-bg;
	padding: 100px 0;
	margin: 128px 0;
	@media (max-width: 1380px) {
		margin: 35px 0;
	}
	@media (max-width: 1199px) {
		margin: 24px 0;
	}
	@media (max-width: 991px) {
		text-align: center;
	}
	h2 {
		font-size: 36px;
		color: #fff;
		margin-bottom: 30px;
	}
	p {
		color: #fff;
	}
	.primary-btn {
		margin-top: 30px;
		background: #fff;
		border: 2px solid transparent;
		box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);
		&:hover {
			background: transparent;
			border: 2px solid #fff;
			box-shadow: none;
		}
	}
	.cta-shape {
		position: absolute;
		right: 0;
		z-index: 1;
		top: 50%;
		transform: translateY(-50%);
		@media (max-width: 1380px) {
			max-width: 470px;
		}
		@media (max-width: 1024px) {
			display: none;
		}
	}
}

/* Start Blog Area css
============================================================================================ */

.blog-area {
	@media (max-width: 991px) {
		padding-bottom: 50px;
	}
	.section-title {
		padding-bottom: 0;
		@media (max-width: 991px) {
			text-align: center;
		}
		h1 {
			margin-bottom: 30px;
		}
		p {
			text-transform: capitalize;
			color: $text-color;
			letter-spacing: 0;
			font-size: 14px;
		}
	}
	.blog-inner {
		margin-top: 70px;
	}
	@media (max-width: 991px) {
		.blog-btn {
			text-align: center;
			margin-top: 20px;
		}
	}
}

.single-blog {
	border: 1px solid #eee;
	@include transition();
	@media (max-width: 991px) {
		margin-bottom: 30px;
	}
	@media (max-width: 570px) {
		margin: 0 34% 30px 0;
	}
	@media (max-width: 400px) {
		margin: 0;
	}
	.blog-thumb {
		position: relative;
		overflow: hidden;
		&:before {
			position: absolute;
			content: "";
			background: rgba(255, 255, 255, 0.4);
			z-index: 999;
			left: 110%;
			top: -15px;
			height: 100%;
			width: 130%;
			@include transform(rotate(55deg));
			@include transition(.5s);
		}
	}
	.blog-details {
		padding: 25px;
		.blog-meta {
			margin-top: 15px;
			span {
				padding-right: 15px;
				text-transform: uppercase;
				i.fa {
					padding-right: 10px;
				}
			}
		}
		h5 {
			font-size: 18px;
			a {
				color: $title-color;
				font-size: 18px;
				line-height: 27px;
			}
			margin: 15px 0px 15px;
		}
	}
	&:hover {
		box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
		border: 1px solid transparent;
		.blog-thumb {
			&:hover {
				&:before {
					left: -130%;
					top: 10px;
				}
			}
		}
	}
}
