//    Font Family

$title-font: 'Roboto', sans-serif;//'Playfair Display', serif;
$text-font: 'Roboto', sans-serif;

/*--------------------------- Color variations ----------------------*/

$primary-color:#2d76f8; // #4ba0f9;
$primary-color2: #85f3f9;
$title-color: #222222;
$text-color: #777777;

$white: #fff;
$offwhite: #f9f9ff;
$black: #000000;
